body {
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 200px;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
#boxes {
    width: 250px;
    height: 250px;
    display: flex;
    background-color: gray;
    flex-wrap: wrap;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 83.3px;
    height: 83.3px;
    border: 1px solid purple;
    box-sizing: border-box;
    font-size: 50px;
}
h1 {
    text-align: center;
}

#modal-end-game {
    width: 100%;
    height: 100%;
    display: none;
}
#overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
}
#modal-window {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    position: absolute;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
}
#content {
    height: 30px;
    text-align: center;
    width: 100%;
    background-color: gray;
}

#btn-close {
    text-align: center;
    height: 40px;
    width: 100%;
    background-color: silver;
    color: purple;
    cursor: pointer;
}